@using Metroiten.Data.Models
@model Restaurant
@section scripts {
    <script src="~/ClientApp/dist/main.js"></script>
    <script src="~/ClientApp/dist/polyfills.js"></script>
    <script src="~/ClientApp/dist/styles.js"></script>
    <script src="~/ClientApp/dist/runtime.js"></script>
    <script src="~/ClientApp/dist/vendor.js"></script>
}

@{
    ViewBag.Title = Model.Name;
}

<app-root></app-root>

<h1 class="my-4">@Model.Name</h1>

<div class="row">

    <div class="col-md-8">
        <img class="img-fluid" src="http://placehold.it/750x500" alt="">
    </div>

    <div class="col-md-4">
        <h3 class="my-3">@Model.Cuisine</h3>
        <p>@Model.Description</p>
        <h3 class="my-3">Project Details</h3>
        <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
        </ul>
    </div>
</div>
