@model Metroiten.ViewModel.HomeIndexViewModel

@{
    ViewBag.Title = "Home";
}

<h2>@Model.Message</h2>

@foreach (var restauran in Model.Restaurants)
{
    @Html.Partial("_Summary", restauran)
}

<br/>
<div>
    <a asp-action="Create">Create</a>
</div>


@section footer {
    @Model.Message
}